$color1: #7fc241;
$color2 : #00aaff;
$color3: #e3007e;
$color4 : #231f20;
$color5 : #fff;
$margin : 0;
$padding : 0;
$size_h1: 2.5em;
$size_h2: 1.5em;
$height: 42px;
$align-end : end;
$font-weight : bold;
$display : inline-flex;
$text-align : center;
$border-color : transparent;
$radius : 18px;
$style-border : outset;
$pl : 2px;
$mr : 10px;
$input-height :34px;
$large : 500px;